body {
    font-family: var(--MPLUSRounded1c);
    background-color: rgb(255, 228, 225);
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.hero {
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 228, 225);
}

.hero__title {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    background-color: rgb(178, 34, 34);
    font-family: var(--ReggaeOne);
}

.hero__image {
    width: 100%;
    height: auto;
    padding-bottom: 35px;
}

.hero__text-title {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
    padding-bottom: 75px;
    text-align: center;

}

.hero__text {
    font-size: 13px;
    color: black;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.65px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
}

.hero__btn {
    background-color: rgb(178, 34, 34);
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 11px;
    cursor: pointer;
    display: infline-flex;
    align-items: flex-start;
    text-align: center;
    margin-top: 85px;
    margin-bottom: 56px;
}

.hero__text--title {
    font-size: 24px;
    color: black;
    margin-bottom: 75px;
    text-align: center;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    margin-left: 21px;
    margin-right: 21px;
}

.main {
    background-color: rgb(255, 228, 225);
    padding: 20px;
}

.programmation,
.invites,
.infos,
.apropos {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 78px;
}

.programmation__title,
.invites__title,
.infos__title,
.apropos__title {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}

.programmation__image,
.invites__image,
.infos__image,
.apropos__image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.programmation__list,
.invites__list,
.infos__list,
.apropos__list {
    list-style: none;
    padding: 0;
}

.programmation__item,
.invites__item,
.infos__item,
.apropos__item {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.programmation__btn,
.invites__btn,
.infos__btn,
.apropos__btn {
    display: inline-block;
    margin-top: 10px;
    background-color: #D9534F;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.partenaires {
    text-align: center;
    padding: 20px;
}

.partenaires__title {
    color: black;
    margin-bottom: 20px;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.85px;
    text-align: left;
}

.partenaires__image {
    height: auto;
    margin: 0 10px;
    width: 307px;
    height: 103px;
    flex-shrink: 0;
}