.main {
    padding: 20px;
}

.about__title {
    padding-bottom: 69px;
}

.about__text {
    margin-bottom: 15px;
    font-size: 1rem;
    color: #333;
}

.about__list {
    list-style: disc;
    margin-left: 20px;
}

.about__item {
    margin-bottom: 10px;
}