.menu {
    visibility: hidden;
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 1;
    background: rgb(240, 128, 128);
    color: var(--black);
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space5x) var(--space3x) var(--space3x);
    transform: translateX(100vw);
    transition: all 0.3s ease-in-out;
}

.header__menu[aria-hidden="false"] {
    transform: translateX(0);
    visibility: visible;
}

.menu__link {
    color: var(--black);
    text-decoration: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    padding: 10px 0;
}

.menu__link--silent {
    color: var(--gray-600);
    font-size: var(--fs-s);
}

.menu__item {
    margin-bottom: 37px;
    padding-bottom: var(--space1x);
    border-bottom: 1px solid var(--black);
}

.menusocial-network,
.menuterms {
    display: flex;
    gap: var(--space2x);
    justify-content: end;
    margin-bottom: var(--space2x);
}

.menu-btn {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: "";
    background: white;
    height: 2px;
    width: 100%;
    position: absolute;
    border-radius: 2px;
    left: 0;
    z-index: 10;
    transition: all 0.4s ease-in-out;
}

.menu-btn__bar::before {
    top: -10px;
}

.menu-btn__bar::after {
    top: 10px;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar,
.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(135deg);
    background: white;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(90deg);
    top: 0;
}

.list-unstyled {
    margin-top: 223px;
    list-style-type: none;
    padding-left: 35px;
}